.highlight {
  background-color: #073642;
  color: #93a1a1;
}

.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}

.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}

.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}

.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}

.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}

.highlight .err {
  color: #dc322f !important;
  background: none !important;
}

.highlight .k {
  color: #cb4b16 !important;
}

.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

.highlight .p {
  color: #93a1a1 !important;
}

.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}

.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}

.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}

.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #586e75 !important;
}

.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}

.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}

.highlight .gu {
  color: #6c71c4 !important;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}

.highlight .kd {
  color: #268bd2 !important;
}

.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}

.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}

.highlight .kt {
  color: #2aa198 !important;
}

.highlight .n {
  color: #268bd2 !important;
}

.highlight .na {
  color: #268bd2 !important;
}

.highlight .nb {
  color: #859900 !important;
}

.highlight .nc {
  color: #d33682 !important;
}

.highlight .no {
  color: #b58900 !important;
}

.highlight .ni {
  color: #800080;
}

.highlight .nl {
  color: #859900 !important;
}

.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}

.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}

.highlight .nn {
  color: #b58900 !important;
}

.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}

.highlight .nx {
  color: #b58900 !important;
}

.highlight .bp {
  color: #999999;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #268bd2 !important;
}

.highlight .vi {
  color: #268bd2 !important;
}

.highlight .nv {
  color: #268bd2 !important;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight .mf {
  color: #2aa198 !important;
}

.highlight .m {
  color: #2aa198 !important;
}

.highlight .mh {
  color: #2aa198 !important;
}

.highlight .mi {
  color: #2aa198 !important;
}

.highlight .mo {
  color: #009999;
}

.highlight .s {
  color: #2aa198 !important;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #2aa198 !important;
}

.highlight .s2 {
  color: #2aa198 !important;
}

.highlight .se {
  color: #dc322f !important;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #268bd2 !important;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #2aa198 !important;
}

.highlight .s1 {
  color: #2aa198 !important;
}

.highlight .ss {
  color: #990073;
}

.highlight .il {
  color: #009999;
}

.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: inline-block;
  width: 100%;
}
