.yellow {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #f6ea75;
}

.orange {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #e6705a;
}

.red {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #ca272b;
}

.purple {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #c258ac;
}

.black {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #3b2b3b;
}

.green {
  margin: 0;
  width: 16.66667%;
  height: 10px;
  display: inline-block;
  background-color: #33c390;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4, h5 {
  color: #333333;
  font-family: "Cantarell", arial, serif;
  font-weight: 400;
  letter-spacing: -0.08em;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
  color: #333333;
}

.post-content {
  margin-bottom: 80px;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5 {
  padding: 8px 0px 2px 0px;
}
.post-content p {
  margin: 15px 0px;
}
.post-content h2, .post-content h3 {
  margin: 25px -20px -5px -20px;
  padding: 0px 20px;
}

h2 {
  border-left: #c258ac solid 10px;
}

h3 {
  border-left: #e6705a solid 10px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  padding: 0px;
  color: #333333;
  background-color: #fdfdfd;
}

blockquote {
  border-left: #33c390 solid 10px;
}

pre {
  border-left: #f6ea75 solid 10px;
}

pre, code {
  font-family: "Inconsolata", arial, serif;
  background-color: #3b2b3b;
  color: #eaeaea;
  overflow-x: scroll;
  overflow-y: hidden;
}

pre, blockquote {
  margin: 10px 10px 10px -20px;
  padding: 10px 5%;
}

p code {
  word-break: break-word;
  color: #eaeaea;
  padding: 3px;
  font-weight: 900;
}

ol {
  padding-left: 40px;
  margin-left: -20px;
  border-left: #e47376 solid 10px;
}

img {
  max-width: 700px;
  max-height: 500px;
  border: #333 solid 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
}

p {
  line-height: 24px;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

#wrapper {
  margin: 0px auto;
  padding: 20px;
  max-width: 960px;
}

#nav {
  margin: 0 auto;
  padding-bottom: 250px;
  padding-top: 50px;
  text-align: center;
}
#nav .nav-part {
  width: 180px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}
#nav h4 {
  font-size: 140%;
  font-weight: 400;
  border-left: #e6705a solid 10px;
  padding-left: 20px;
}
#nav ul {
  padding-left: 20px;
  list-style: none;
}
#nav ul li a {
  color: black;
  padding-left: 10px;
  text-transform: lowercase;
  font-size: 80%;
  font-family: "Cantarell", arial, serif;
  text-decoration: none;
  cursor: pointer;
}
#nav ul li a:hover {
  border-left: #ca272b solid 10px;
  margin-left: -20px;
  padding-left: 20px;
  text-decoration: underline;
}

#content .index-article {
  margin-top: 50px;
  padding-bottom: 8px;
  border-left: #c258ac solid 10px;
  margin-left: -20px;
  padding: 0 40px;
}
#content .index-article h1 {
  line-height: 40px;
  margin: 0px 0px 10px 0px;
}

#content .index-article:nth-child(4n+1) {
  border-left: #e6705a solid 10px;
}

#content .index-article:nth-child(4n+2) {
  border-left: #33c390 solid 10px;
}

#content .index-article:nth-child(4n+3) {
  border-left: #ca272b solid 10px;
}

.image_with_caption {
  background-color: #eeeeee;
  max-width: 510px;
  padding: 10px;
}
.image_with_caption img {
  border: solid 2px black;
  background-color: white;
  display: block;
}

td, th {
  padding: 5px;
}

.image_with_caption_no_maxes {
  background-color: #eeeeee;
  padding: 10px;
}
.image_with_caption_no_maxes img {
  border: solid 2px black;
  background-color: white;
}

.on_the_right {
  float: right;
}

.on_the_left {
  float: left;
}

.sidebar {
  width: 50%;
  background-color: #eeeeff;
  margin: 10px 15px;
  padding: 10px;
}
.sidebar pre {
  background-color: white;
  margin: 10px 0px;
}

.post-footer {
  margin: 100px 0 0px 0;
}
.post-footer .about, .post-footer .related {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.post-footer .about h3, .post-footer .related h3 {
  margin-bottom: 10px;
  padding: 0 40px;
}
.post-footer .about ul, .post-footer .related ul {
  padding: 0 40px;
}
.post-footer .about {
  text-align: right;
}
.post-footer .about h3 {
  border-left: none;
  border-right: #e6705a solid 10px;
}
.post-footer .about img {
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
  right: 0;
  border-radius: 200px;
}

.related h3 {
  text-align: left;
}
.related ul {
  margin-left: -40px;
  list-style: none;
}
.related ul li {
  padding-bottom: 10px;
}
.related ul a {
  color: black;
  text-decoration: none;
}
.related ul a:hover {
  text-decoration: underline;
}
.related .date {
  margin-right: 8px;
}

#about-page h3 {
  margin-bottom: 10px;
}
#about-page img, #about-page #short {
  display: inline-block;
}
#about-page img {
  border-radius: 200px;
  max-width: 200px;
  width: 40%;
}
#about-page .about-article h1, #about-page .about-article h2, #about-page .about-article h3, #about-page .about-article h4, #about-page .about-article h5 {
  padding: 8px 0px 2px 0px;
}
#about-page .about-article p {
  margin: 15px 0px;
}
#about-page .about-article h2, #about-page .about-article h3 {
  margin: 25px -20px -5px -20px;
  padding: 0px 20px;
}
#about-page #short {
  vertical-align: top;
  width: 60%;
  color: #555555;
  padding: 0 0 0 10px;
}
#about-page #disclaimer {
  color: #660000;
  font-size: 75%;
}

.about-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.about-article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.about-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 1024px) {
  -webkit-text-size-adjust: none;
}
@media only screen and (max-width: 599px) {
  img {
    max-width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  h1 {
    font-size: 24px;
  }

  .on_the_left, .on_the_right {
    float: none;
  }

  #nav .nav-part {
    display: block;
    text-align: center;
    width: 100%;
  }
  #nav .nav-part h4 {
    border-left: none;
    margin-top: 30px;
  }
  #nav .nav-part ul {
    border-left: none;
  }
  #nav .nav-part ul li a:hover {
    margin-left: -10px;
    border-left: none;
  }
  #nav .nav-part h4 {
    font-size: 1.2em;
  }

  .post-footer .related h3 {
    text-align: center;
  }
  .post-footer .related ul, .post-footer .related h3 {
    padding: 0;
  }
  .post-footer .about, .post-footer .related {
    display: block;
    width: 100%;
  }
  .post-footer .about ul, .post-footer .related ul {
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    margin: 0 auto;
  }

  #about-page img, #about-page #short {
    width: 100%;
    display: block;
  }
  #about-page #short {
    padding: 10px 0;
  }
}
