@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  width: 100%;
  height: 100vh;

  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;

  background-color: #3a3a3a;
  color: #eee;
}

article {
  margin: auto;

  width: 400px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 36px;
}

.subheader {
  font-size: 18px;
}
